<div class="phone-chat">
    <div class="chat-messages"></div>
    <div class="chat-input">
        <input type="text" placeholder="Type a message...">
        <button class="send-message">Send</button>
    </div>
</div> 