<div class="retro-phone">
    <div class="phone-display"></div>
    <div class="phone-keypad">
        {{#each (range 1 9)}}
            <button data-digit="{{this}}">{{this}}</button>
        {{/each}}
        <button data-digit="*">*</button>
        <button data-digit="0">0</button>
        <button data-digit="#">#</button>
    </div>
    <div class="phone-actions">
        <button class="phone-call"><i class="fas fa-phone"></i> Call</button>
        {{#if isGM}}
            <button class="phone-phonebook"><i class="fas fa-book"></i> Phonebook</button>
        {{/if}}
    </div>
</div> 